// Layout component variables
$layout-sticky-gutter: $grid-gutter;

/* Layout component prototype */
div.layout {
	display: flex;
	flex-flow: row wrap;
	padding: $section-padding 0 ($section-padding - $element-margin) 0;

	> aside.layout-aside {
		flex: 0 0 ($container-width / 3);
		max-width: ($container-width / 3);

		@supports (position: sticky) or (position: -webkit-sticky) {
			.layout-aside-sticky {
				position: -webkit-sticky;
				position: sticky;
				top: $layout-sticky-gutter;
			}
		}
	}

	> main.layout-main {
		flex: 1;
		padding-right: $grid-gutter;
	}

	> aside.layout-aside + main.layout-main {
		padding-left: $grid-gutter;
		padding-right: 0;
	}

	> main.layout-main:only-child {
		padding-right: 0;
	}

	@include breakpoint(medium) {

		> aside.layout-aside {
			flex: 0 0 100%;
			max-width: 100%;
			order: 1;

			.layout-aside-sticky {
				position: static;
				top: auto;
			}
		}

		> main.layout-main {
			flex: 0 0 100%;
			max-width: 100%;
			padding-right: 0;
		}

		> aside.layout-aside + main.layout-main {
			padding-left: 0;
		}

		> aside.layout-aside.is-important {
			order: -1;
		}
	}
}

/* Layout component extensions */
div.layout {
}
